<!DOCTYPE html>
<html>
<head>
	<title>pinsterest-clone</title>
</head>
<body>
	<h1>Create Pin</h1>

	{{ form_start(monFormulaire) }}
		{{ form_widget(monFormulaire) }}

		<input type="submit" value="Create pin">
	{{ form_end(monFormulaire) }}
	
</body>
</html>